@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   font-family: "Outfit", sans-serif;
 }

body{
    background-color: #dadada;
}
:root{
    --light-orange: rgb(255, 183, 49);
    --border1: #848688;
}
#hero-banner{
    background-color: #131921;
    width: 100%;
    padding:10px;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
#new_banner{
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 10px;
}
.logo{
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &:hover{
            border: 1px solid white;
            border-radius: 2px;
    }
}
#amazon-logo{
    display: flex;
    align-items: center;
    width: 120px;
    height: 45px;
    /* border: 1px solid white; */
}
#amazon-logo img{
    width: 100%;
    height: 70%;
}
.location{
    width: 220px;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;

    &:hover{
        border: 1px solid white;
        border-radius: 4px;
    }
}
.location > div{
    color: white;
}
#loc{
    /* border: 1px solid red; */
    height: 25px;
    display: flex;
    align-items: end;
    
    &:hover{
            border: 1px solid white;
    }
}
#place{
    /* border: 1px solid white; */
    height: 40px;
}
#cbe{
    font-size: 13px;
}
#update{
    font-size: 15px;
}

.search-box{
    width: 540px;
    height: 50px;
    border: 3px solid var(--light-orange);
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    /* padding: 2px; */
    /* justify-content: space-around; */
    align-items: center;
    /* border-radius: 4px; */
}
#all{
    width: 10%;
    /* border: 1px solid red; */
    height: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
#input-1{
    width: 80%;
    /* border: 1px solid red; */
    height: 50px;
}
#input-1 input{
    width: 100%;
    height: 100%;
    border: none;
}
#input-1 input:focus{
    outline: 1px solid var(--light-orange);
}
#input-1 input::placeholder{
    color: rgb(109, 108, 108);
    padding-left: 5px;
}
#search-icon{
    width: 10%;
    border: 1px solid red;
    height: 50px;
    background-color: var(--light-orange);
}
.flag-box{
    width: 55px;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
        &:hover{
        border: 1px solid white;
        border-radius: 4px;
    }

    
}
.flag-1, .country{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40px;
    /* border: 1px solid red; */
    color: white;
}

.login-box{
    width: 135px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
            border: 1px solid white;
            border-radius: 4px;
    }
}
.login-box > div{
    color: white;
}
.hello{
    /* border: 1px solid red; */
    color: white;
}
.account{
    color: white;
    /* border: 1px solid red; */
}
.cart-box{
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    &:hover{
        border: 1px solid white;
        border-radius: 4px;
    }
}
.cart-img{
    width: 70px;
    height: 40px;
    /* border: 1px solid white; */
}
.order-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 50px;
    /* border: 1px solid red; */
    &:hover{
        border: 1px solid white;
        border-radius: 4px;
    }
}


@media (max-width: 400px) {
 #new_banner{
    width: 98%;
    /* border: 1px solid white; */
    /* height: 60px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    gap: 10px;
    flex-wrap: wrap;
}   
}

/* Navlist */

.nav{
    background-color: #232F3E;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    border: 1px solid red;
    /* width: 100%; */
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 94%;
    height: 40px;
    margin-left: 12px;
    border: 1px solid red;
}
.navlist{
    font-size: 15px;
    color: white;
    &:hover{
        border: 1px solid white;
        border-radius: 4px;
        /* padding: 1px;; */
    }
}
.nav-dropdown{
    font-size: 18px;
    color: white;
    vertical-align: middle;
    margin-right: 2px;
}
ul a{
    text-decoration: none;
    color: inherit;
}

.slide-container{
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
     /* overflow: hidden; */
    /* justify-content: space-evenly;
    align-items: center; */
    /* width: 100%; */
    /* height: 100px; */
}
.slide-image{
    min-width: 100%;
    /* mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%); */
}
.slide-image img{
    width: 100%;
}
.slide-container a{
   position: absolute;
   top: 18%;
   /* z-index: 1; */
   padding: 90px 20px;
   /* text-decoration-thickness: 80%; */
   border: 1px solid black;
   color: black;
   /* font-weight: 400; */
   font-size: 50px;
   cursor: pointer;
}
.prev-slide{
   left: 0px;
}
.next-slide{
   right: 0px;
}

/* Product Box */

.main-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 20px;
    margin: 20px 17px;
    /* background: #ffffff; */
    border: 1px solid red;
}
.grid-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-flow: column; */
    gap: 10px 15px;
    background: #ffffff;
    border: 1px solid red;
    padding: 10px 15px 20px 15px;
    /* height: 300px; */
    /* width: 200px; */
}

.product-head{
    font-size: 20px;
    grid-column: span 2;
    /* border: 1px solid red; */
}
.product-image{
    min-width: 100%;
}
.product-image img{
    width: 100%; 
}
.product-caption{
    display: block;
    font-size: 13px;
}
.see-more{
    display: flex;
    /* justify-content: last baseline; */
    align-items: end;
    font-size: 13px;
}
.see-more a{
    text-decoration: none;
    align-items: end;
    font-size: 13px;
    grid-column: span 2;
}


/* 3rd row */

.container-3{
    display: block;
    /* overflow-x: hidden; */
    height: 300px;
    border: 1px solid red;
    margin: 20px 17px;
    padding: 15px 15px;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffff;
    /* justify-content: flex-start; */
}
.container-3 h3{
    font-weight: 600;
    font-size: 22px;
    /* grid-column: span 2; */
    margin-bottom: 20px;
}
.container-3 h3 .see-link{
    font-weight: 400;
    font-size: 13px;
    margin-left: 10px;
}
.container-3 h3 .see-link a{
    text-decoration: none;
}
.grid-items-3{
    display: flex;
    gap: 10px;
    overflow-x: hidden;
}

.grid-items-3 a{
   position: absolute;
   top: 18%;
   /* z-index: 1; */
   padding: 90px 20px;
   /* text-decoration-thickness: 80%; */
   border: 1px solid black;
   color: black;
   /* font-weight: 400; */
   font-size: 50px;
   cursor: pointer;
}
.prev-slide{
   left: 0px;
}
.next-slide{
   right: 0px;
}


/* footer */
footer{
    background-color: #232f3e;
    color: #ffffff;
}
.back-to-top{
    background-color: #37475A;
    text-align: center;
    font-size: 14px;;
    padding: 15px;
}
.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 1px solid red; */
    /* height: 500px; */
    margin: 50px 180px 0px 180px;
    padding: 0px 0px 50px 0px;
}
.footer-items{
    display: block;
    /* border: 1px solid red; */
}
.footer-head{
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    /* margin-top: 5px; */
}
.footer-para{
    font-size: 15px;
    /* font-weight: 600; */
    text-align: left;
    margin-top: 10px;
}
.footer2{
    border-top: 2px solid #3A4553;
}
.footer3{
    /* border: 1px solid red; */
    display: flex;
    padding: 0px 10px 10px 10px;
    justify-content: space-between;
    align-items: center;
    margin: 30px 450px;
    /* padding: 10px 150px; */
}
.footer-img{
    /* border: 1px solid red; */
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.footer4{
    border: 1px solid var(--border1);
    border-radius: 3px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px 8px 15px;
    /* margin: 30px 450px; */
}
.footer-4{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
    /* margin: 30px 450px; */
}
.footer5{
    border: 1px solid var(--border1);
    border-radius: 3px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px 8px 15px;
    /* margin: 30px 450px; */
}


/* copyright */
.copyright-container{
    background-color: #131A22;
    /* border: 1px solid red; */
    height: 260px;
    padding-top: 30px; 
}
.copyright{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 0px;
    /* border: 1px solid red; */
    margin: 0px 5px 20px 180px;
    width: 780px;
    /* justify-content: space-between;
    align-items: start; */
}
.copy{
    font-size: 12px;
    font-weight: 100;
}
.rights{
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    line-height: 18px;
}